@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.backgroundPages {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: -1;
}

.backgroundPages span {
    width: 23vmin;
    height: 23vmin;
    border-radius: 23vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 23;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.backgroundPages span:nth-child(0) {
    color: #ffd333;
    top: 80%;
    left: 20%;
    animation-duration: 47s;
    animation-delay: -144s;
    transform-origin: 10vw -11vh;
    box-shadow: -46vmin 0 6.224338479633765vmin currentColor;
}
.backgroundPages span:nth-child(1) {
    color: #dee520;
    top: 39%;
    left: 43%;
    animation-duration: 21s;
    animation-delay: -127s;
    transform-origin: 6vw 22vh;
    box-shadow: -46vmin 0 6.371030559680184vmin currentColor;
}
.backgroundPages span:nth-child(2) {
    color: #dee520;
    top: 71%;
    left: 28%;
    animation-duration: 82s;
    animation-delay: -249s;
    transform-origin: 11vw -6vh;
    box-shadow: -46vmin 0 6.63408220285811vmin currentColor;
}
.backgroundPages span:nth-child(3) {
    color: #ffd333;
    top: 69%;
    left: 86%;
    animation-duration: 163s;
    animation-delay: -137s;
    transform-origin: 22vw 18vh;
    box-shadow: 46vmin 0 6.067251374900785vmin currentColor;
}
.backgroundPages span:nth-child(4) {
    color: #ffd333;
    top: 89%;
    left: 59%;
    animation-duration: 159s;
    animation-delay: -169s;
    transform-origin: 18vw 3vh;
    box-shadow: -46vmin 0 5.908754884638055vmin currentColor;
}
.backgroundPages span:nth-child(5) {
    color: #dee520;
    top: 90%;
    left: 51%;
    animation-duration: 215s;
    animation-delay: -68s;
    transform-origin: 17vw 20vh;
    box-shadow: -46vmin 0 6.101329496982464vmin currentColor;
}
.backgroundPages span:nth-child(6) {
    color: #dee520;
    top: 74%;
    left: 94%;
    animation-duration: 62s;
    animation-delay: -64s;
    transform-origin: -23vw -24vh;
    box-shadow: -46vmin 0 6.3271309875767vmin currentColor;
}
.backgroundPages span:nth-child(7) {
    color: #dee520;
    top: 36%;
    left: 93%;
    animation-duration: 89s;
    animation-delay: -200s;
    transform-origin: -14vw 14vh;
    box-shadow: 46vmin 0 5.78550481787782vmin currentColor;
}
.backgroundPages span:nth-child(8) {
    color: #dee520;
    top: 77%;
    left: 89%;
    animation-duration: 65s;
    animation-delay: -11s;
    transform-origin: -14vw 4vh;
    box-shadow: 46vmin 0 6.6104152777793415vmin currentColor;
}
.backgroundPages span:nth-child(9) {
    color: #dee520;
    top: 1%;
    left: 85%;
    animation-duration: 171s;
    animation-delay: -17s;
    transform-origin: -13vw -7vh;
    box-shadow: 46vmin 0 6.687636324808545vmin currentColor;
}
.backgroundPages span:nth-child(10) {
    color: #ffd333;
    top: 14%;
    left: 36%;
    animation-duration: 190s;
    animation-delay: -229s;
    transform-origin: 11vw 6vh;
    box-shadow: -46vmin 0 6.070342121251316vmin currentColor;
}
.backgroundPages span:nth-child(11) {
    color: #ffd333;
    top: 42%;
    left: 93%;
    animation-duration: 104s;
    animation-delay: -152s;
    transform-origin: 10vw 5vh;
    box-shadow: -46vmin 0 6.35221704147717vmin currentColor;
}
.backgroundPages span:nth-child(12) {
    color: #dee520;
    top: 79%;
    left: 47%;
    animation-duration: 63s;
    animation-delay: -179s;
    transform-origin: -15vw 20vh;
    box-shadow: 46vmin 0 6.698965218145706vmin currentColor;
}
.backgroundPages span:nth-child(13) {
    color: #ffd333;
    top: 38%;
    left: 51%;
    animation-duration: 262s;
    animation-delay: -224s;
    transform-origin: 3vw -21vh;
    box-shadow: -46vmin 0 6.569641150163413vmin currentColor;
}
.backgroundPages span:nth-child(14) {
    color: #ffd333;
    top: 83%;
    left: 30%;
    animation-duration: 195s;
    animation-delay: -236s;
    transform-origin: -4vw -4vh;
    box-shadow: 46vmin 0 6.087778727960435vmin currentColor;
}
.backgroundPages span:nth-child(15) {
    color: #ffd333;
    top: 72%;
    left: 7%;
    animation-duration: 67s;
    animation-delay: -216s;
    transform-origin: -22vw -10vh;
    box-shadow: 46vmin 0 5.982515867919104vmin currentColor;
}
.backgroundPages span:nth-child(16) {
    color: #dee520;
    top: 16%;
    left: 4%;
    animation-duration: 138s;
    animation-delay: -118s;
    transform-origin: 23vw -22vh;
    box-shadow: 46vmin 0 5.814931860983816vmin currentColor;
}
.backgroundPages span:nth-child(17) {
    color: #ffd333;
    top: 61%;
    left: 70%;
    animation-duration: 165s;
    animation-delay: -34s;
    transform-origin: -23vw 7vh;
    box-shadow: -46vmin 0 6.450422776418593vmin currentColor;
}
.backgroundPages span:nth-child(18) {
    color: #ffd333;
    top: 7%;
    left: 98%;
    animation-duration: 251s;
    animation-delay: -65s;
    transform-origin: -16vw 2vh;
    box-shadow: 46vmin 0 6.712785049023209vmin currentColor;
}
.backgroundPages span:nth-child(19) {
    color: #ffd333;
    top: 74%;
    left: 91%;
    animation-duration: 195s;
    animation-delay: -164s;
    transform-origin: 23vw -16vh;
    box-shadow: 46vmin 0 6.701956648867311vmin currentColor;
}
.backgroundPages span:nth-child(20) {
    color: #dee520;
    top: 89%;
    left: 48%;
    animation-duration: 107s;
    animation-delay: -19s;
    transform-origin: 11vw 18vh;
    box-shadow: -46vmin 0 5.991031040462635vmin currentColor;
}
.backgroundPages span:nth-child(21) {
    color: #dee520;
    top: 15%;
    left: 22%;
    animation-duration: 77s;
    animation-delay: -39s;
    transform-origin: 1vw 25vh;
    box-shadow: 46vmin 0 6.611432269504618vmin currentColor;
}
.backgroundPages span:nth-child(22) {
    color: #dee520;
    top: 12%;
    left: 40%;
    animation-duration: 200s;
    animation-delay: -147s;
    transform-origin: 15vw 8vh;
    box-shadow: -46vmin 0 5.945825142790239vmin currentColor;
}
