* {
  padding: 0;
  margin: 0
}

.backGround {

  background-image: url('../public/c48ae5b1-a592-4936-88d7-4270bb35fc34.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: 10;
}

.logo-backgroundImage {
  height: 200px;
  max-width: auto;
  position: absolute;
  right: 10px;
  top: 5px;
  transition: transform 0.3s ease-in-out;
}

.logo-backgroundImage:hover {
  transform: scale(1.05);
}

.biografia {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: black;
  height: 100%;
  font-family: "Inter", sans-serif;

}

.biografia_titulo {
  font-family: "Inter", sans-serif;
font-weight: 900;
font-size: 5em;
line-height: 150%;
color: transparent;
-webkit-text-stroke: 2px #ffd333;
text-decoration: none;
  margin: 60px;
  margin-left: 220px;
}

.biografia_flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.biografia_parrafo {
  color: #ffdc5ecd;
  width: 40%;
  font-size: 25px;
  padding-right: 80px;
}

.biografia_imagen {
  width: 25%;
  height: 25%;
}
.biografia_instagram {
  border-radius: 5px;
}

@media (max-width: 1025px ) {
  .logo-backgroundImage {
    height: 160px;
    width: auto;
  }
}

  @media (max-width: 769px ) {
    .logo-backgroundImage {
      height: 130px;
      width: auto;
    }
  }
  @media (max-width: 500px ) {
    .logo {
      width: 90%;
    }
    .biografia_titulo {
      font-size: 2em;
      margin: auto;
      text-align: center;
    }
    .biografia_flex {

      flex-direction: column;
      margin: auto;
      text-align: center;
    }
    .biografia_parrafo {
      width: 90%;
      font-size: 80%;
      padding-right: 0px;
    }
    .biografia_imagen {
      width: 80%;
    }
  }