
.fondo {
    background: linear-gradient(
        50deg,
        rgb(0, 0, 0) 30%,
        rgba(0, 0, 0, 0.3)
    )
}

.dance_banner {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.titular {
    position: relative;
    bottom:5vw;
    text-align: left;
    left: 5%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px #ffd333;
    text-decoration: none;
    display: inline-block;
}



.scale-up-horizontal-center {
    animation: scale-up-horizontal-center 1s
}

@keyframes scale-up-horizontal-center {
    0% {
        transform: scaleX(.2)
    }

    100% {
        transform: scaleX(1)
    }
}

.flex_contenedor {
    display: flex;

}

.parrafo {
    font-family: "Inter", sans-serif;
    text-align: justify;
    text-shadow: 1px 1px black;
    columns: 2;
    font-size: 2vw;
    width: 70%;
    color: #fff;
    margin: 6vw;
    padding: 3vw;
    background-color: #ffffff13;
    backdrop-filter: blur(5px);
    border-right: solid 1px #ffffff31;
    border-bottom: solid 1px #ffffff31;

}

.dance_imagen {
    width: 26%;
    margin: 6%;
    border-radius: 5px;
    border: solid 4px #e5da6d;
}

/* FORM */
.contenedor_contact {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
}
.icons-contact{
    font-size: 40px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 40px;
}
.icons-contact a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.icons-contact a:hover {
    color: #ffd333;
}
.form-content{
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: url(../public/contact_form5.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10%;
    width: 80%;
}
.form-content .form-h2{
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px #ffd333;
    text-decoration: none;
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
label{
    font-family: "Inter", sans-serif;
    text-shadow: 1px 1px black;
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}

input , textarea{
    padding: 10px 14px;
    background-color: #ffffff13;
    backdrop-filter: blur(5px);
    border-right: solid 1px #ffffff31;
    border-bottom: solid 1px #ffffff31;
    font-family: "Inter", sans-serif;
    text-shadow: 1px 1px black;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
}
input:focus, textarea:focus{
    outline: 1px solid #ffd333;
}
.btn-form{
    background-color: #ffd333;
    width: 150px;
    align-self: flex-end;
    color: black;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: bold;
}
.btn-form:hover{
    box-shadow: 0px 2px 15px #ffd333;
}

@media (max-width:991px){
    .form-content{
        padding: 5%;
        width: 90%;
    }
    form{
        width: 100%;
    }
}
/* Finish FORM */

.titular_galeria {
    position: relative;
    bottom: 5vw;
    text-align: left;
    left: 5%;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px #ffd333;
    text-decoration: none;
    display: inline-block;
    margin-top: 10%;
}

.galeria_imagenes {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.galeria_individual {
    width: 70%;
    margin-bottom: 5vw;
    transition: transform 0.3s ease-in-out;

}

.galeria_individual:hover {
    transform:  scale(1.4);
}

@media (max-width: 1025px) {
    .titular {
        font-size: 8vw;
        bottom: 7vw;
    }
    .dance_imagen{
        height: auto;
        }
    .titular_galeria{
        font-size: 8vw;
    }
}
@media (max-width: 780px) {
    form{
        width: 70%;
    }
    .btn-form{
        font-size: 2.5vw;
    }
}
@media (max-width: 600px) {
    .titular{
        font-size: 11vw;
        bottom:10vw;
    }
    .parrafo{
        padding: 2vw;

    }
    .galeria_imagenes{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .galeria_imagenes img {
        flex: 0 0 100%; 
        scroll-snap-align: start;
    }
    .galeria_individual:hover {
        transform: none
    }
 
    }
