
.footer {
    background-color: black;
    border: none;
    color: #ffd333;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}


.imagen {
    height: auto;
    max-width: 20vw;
    margin-bottom: 2vw;
    padding-left: 4.5vw;
    
}
.icons {
    font-size: 2.9vw;
    display: flex;
    gap: 5vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 1vw;
    right: 5vw;
}

.icons a {
    color: #ffd333;
    text-decoration: none;
    cursor: pointer;
}
.icons a:hover {
    text-shadow: 0px 2px 15px #ffd333;
}

.text {
    font-size: 3vw;
    margin-top: auto;
    margin-bottom: 1.5vw;
    left: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    margin: 2vw;
    bottom: 0;
}

.diseñadores {
    font-size: 2vw;
    text-align: center;
    margin-top: 1vw;
    color: #ffd333;
}
.centerButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 9vw;
    align-items: center;
    height: 100%;
}
.contact-button {
    position: absolute;
    top: 2vw;
        width: 15vw;
        font-family: "Inter", sans-serif;
    background-color: #ffd333;
    color: black; 
    text-decoration: none;
    padding: 1vw 1.4vw; /* Espaciado del botón */
    border-radius: 1vw; /* Esquinas redondeadas */
    font-size: 1.5vw; 
    font-weight: bold;
    text-transform: uppercase; 
    text-align: center;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

.contact-button:hover {
    box-shadow: 0px 2px 15px #ffd333;
}
@media (max-width: 780px) {
    .contact-button{
        font-size: 1.5vw;
        margin: 0px 0px 7.5px;
        padding: 10px 14px;
        width: 100px;
        
    }
}

@media (max-width: 600px) {
 .footer{
    height:55vw;
 }
.imagen {
    max-width: 75vw;
    margin: auto ;
}
.text {
    display: none;
}

    .icons {
        font-size: 7vw;
        flex-direction: column;
        align-items: center; 
        justify-content: space-between; 
        right: 5vw; 
        bottom: auto; 
        margin-top: 3.5vw;
    }
    .icons a {

        margin-bottom: 1vw; /* Espacio entre iconos */
    }
    .diseñadores{
        font-size: 4vw;
    }
  .centerButton{
   position: relative;
   justify-content: center;
    padding-right: 0px;
}
  .contact-button {
    font-size: 3.5vw;
    border-radius: 10px;
    
}
.flex_designers {
    display: inline-block;
}
}
