:root {
	--rotate-speed: 40;
	--count: 10; /* Default count, the DOM element should override this */
	--easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
	--easing: cubic-bezier(0, 0.37, 1, 0.63);
}

body {
	margin: 0;
	
}
.navegacion_contenedor{
   height: -60px;
}
.void {
	font-family: 'Poppins';
	width: 90%;
    max-height: 90%;
	margin: auto;
	position: absolute;
    left: -45%;
    top: 00px;
	aspect-ratio: 1 / 1;
}
.void ul:hover * {
	animation-play-state: paused;
}
.void ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	aspect-ratio: 1 / 1;
	z-index: 1;
}
.void li {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* 	outline: 2px dashed cyan; */
	width: 100%;
	animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
	list-style: none;
}
    #card-list {
        max-height: 40%;
    }
.void .card {
	width: 27%;
    max-width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;
	gap: 8px;
	/*background: #ffffff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
	color: #535062;
	border-radius: 12px;*/
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
.void a {
	text-decoration: none;
	color: unset;
}
.void .model-name {
	font-weight: 900;
	font-size: 3em;
	line-height: 150%;
	color: transparent;
	-webkit-text-stroke: 1px #ffd333;
	text-decoration: none;
	display: block;
}
.void .model-name:hover{
	color: #ffdc5ecd;
	-webkit-text-stroke: 1px #000;
	transition: 0.4s;
}
.void .model-name:before,
.void .model-name:after{
	content: attr(data-text);
	position: absolute;
	top: 2;
	left: 25px;
	transition: 0.4s;
}
.void .model-name:hover:before{
	color: #daa520;
	z-index: 1;
	-webkit-text-stroke: 1px #000;
	transform: translate(5px, -5px);
}
.void .model-name:hover:after{
	color: black;
	
	z-index: 2;
	-webkit-text-stroke: 1px #ad8a1f;
	transform: translate(10px, -10px);
}
.void svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.void li:nth-child(2),
.void li:nth-child(2) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -1s);
}
.void li:nth-child(3),
.void li:nth-child(3) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -2s);
}
.void li:nth-child(4),
.void li:nth-child(4) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -3s);
}
.void li:nth-child(5),
.void li:nth-child(5) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -4s);
}
.void li:nth-child(6),
.void li:nth-child(6) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -5s);
}
.void li:nth-child(7),
.void li:nth-child(7) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -6s);
}
.void li:nth-child(8),
.void li:nth-child(8) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -7s);
}

@keyframes rotateCW {
	from {
		transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
		transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
}
@keyframes rotateCCW {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(315deg);
	}
}
@keyframes pulseGlow {
	from {
		background-size: 60%;
	}
	to {
		background-size: 100%;
	}
}

.center-circle {
	position: absolute;
	width: 230px;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	/*transform: translate(-50%, -50%);
	background: #000000;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
		0px 30px 60px -12px rgba(12, 5, 46, 0.25);*/
	border-radius: 50%;
}
.second-circle {
	position: absolute;
	width: 60%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #00000000;
	opacity: 0.5;
	box-shadow: 30px 0px 80px 70px rgba(46, 45, 5, 0), 30px 0px 30px 70px rgba(46, 45, 5, 0);
	border-radius: 50%;
}

.last-circle {
	position: absolute;
	width: 66%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*background: #f5f4fe;
	opacity: 0.05;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
		0px 30px 60px -12px rgba(12, 5, 46, 0.25);*/
	border-radius: 50%;
}
.crop {
	background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, 0) 50%);
}
@media (max-width: 1025px ) {
		.void {
			scale: 70%;
		}
}
@media (max-width: 769px ) {
	.void {
		scale: 100%;
	}
	.void .model-name {
	font-size: 1.9em;
}
#card-list {
    max-height: 30%;
	top: 80px;
}
}
@media (max-width: 500px ) {
	.void {
		scale: 140%;
	}
	#card-list {
		max-height: 250%;
		top: 90px;
		right: 12%;
	}
	.void .model-name {
		font-size: 1em;
		color: #ffd333;
		-webkit-text-stroke: 1px black
	}
}