/* Estilos para la flecha de desplazamiento */
.scroll-arrow {
    position: fixed;
    bottom: 0%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 999;
  }
  
  .arrow-down {
  
    font-family: monospace ;
    
    font-size: 70px;
    transform: rotate(90deg);
    transition: box-shadow 0.3s ease; /* Transición para el efecto de sombra */
    color: black;
  }
  .arrow-down:hover {
    text-shadow: 0px 5px 40px #ffd333,  0px 5px 20px #ffd333;
    ;


  }
  

  @media (max-width: 600px) {
    .scroll-arrow {
    display: none;
    }
  }